body{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: row;
    margin: 0;
}
.main-left{
    width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,rgba(35, 177, 202, 0.650) 0%,rgba(35, 177, 202, 0.650) 50%,white 50%,white 50%);
}

.content{
    height: 86%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-box{
    height: 60vh;
    width: 50vh;
    background-color: rgb(174, 240, 252);
    box-shadow: 0px 50px 50px 0px rgba(192, 192, 192, 0.39);
    animation: come-in 5s forwards;
}

@keyframes come-in {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(20%);
    }
}

#profile-pic{
    height: 24vh;
    width: 24vh;
    border-radius: 50%;
}

#name,#description{
    color: rgba(0, 0, 0, 0.699);
    text-align: center;
}

#name{
    padding: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.100);
}

#description{
    color:rgb(45, 105, 116);
    font-family: "Courier New", monospace;
    text-transform: uppercase;
}

.contact{
    height: 10%;
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.fa{
    color: rgb(1, 71, 84);
    font-size: 24px;
}

.main-right{
    width: 60%;
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.btn{
    display: flex;
    width: 50vh;
    justify-content: space-between;
}

.btn .buttons{
    border: 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(16, 108, 125);
    cursor: pointer;
}

.active-button{
    background-color:  rgba(174, 240, 252, 0.237);
}

.basic-details{
    margin: 20px 0px 20px 0px;
}

.intro{
    text-align: justify;
    line-height: 25px;
}

.study{
    font-size: 14px;
    width: 60%;
    margin: 40px 0px 40px 0px;
}

.degree, .school, .details p{
    margin: 8px;
}

.perc{
    color: rgb(16, 108, 125);
}

.details{
    display: flex;
    justify-content: space-between;
}

.property{
    display: inline-flex; 
    align-items: center;
    width: 30%;
}

.hidden{
    display: none;
}

.property .fa{
    color: rgba(19, 31, 33, 0.845);
    font-size: 24px;
}

.value{
    margin-left: 10px;
}

.sub-content{
    display: flex;
    height: 40vh;
    justify-content: space-between;
    margin-bottom: 30px;
}


.box{
    width: 48%;
}

.skills-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skill{
    height: 30%;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(16, 108, 125);
    font-weight: bold;
}

.skill img{
    height: 30px;
    width: 30px;
}

.poster{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px 30px 0px 30px;
}

.pro-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster img{
    width: 300px;
    height: 150px;
}

.carousel-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
}